.dropZone{
  --main-borde: #eee;
  width: 100%;
  padding: 20px 10px;
  border: 2px dotted  var(--main-borde);
  min-height:  100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card,.preview{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--main-borde);
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 10px;
    .imagen{
      background-image:  url('imagen.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;;
    }
    input{
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
      transform: scale(2);
    }
  }
  .preview{
    &.opaco{
      pointer-events: none;
      .imagen{
        background-color: rgba(255,255,255,.7)!important;
        filter: blur(2px);
      }
      &:after{
        content: attr(data-porcentaje);
        color: black;
        position: absolute;
        font-size: 20px;
      }
      svg{
        opacity: 0!important;
      }
    }
    .imagen{
      background-blend-mode: soft-light;
      background-size: contain;
      width: 100%;
      height: 100%;
      transition: ease all .5s;
    }
    svg{
        position: absolute;
        top: 0;
        right: 0;
        left: 0px;
        color: #fff;
        cursor: pointer;
        bottom: 0px;
        margin: auto;
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: ease all .5s;
      }
    &:hover{
      .imagen{
        background-color: rgba(0,0,0,.5);
        cursor: pointer;
      }
      svg{
        opacity: 1;
      }
    }
  }
}
